In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
topGenredf = pd.read_csv('top_category.csv')

df = pd.DataFrame(topGenredf)
d1 = pd.DataFrame({"name": ["Western", "Mystery", "Fantasy"],
                  "genre": [890, 920, 1020],
                  "total_rented": [3908.89, 4902.33, 4002.12]},
                 index=[16, 17, 18])
frame = [topGenredf, d1]

results = pd.concat(frame)
results

           name  genre  total_rented
0        Family    988       3830.15
1         Games    884       3922.18
2     Animation   1065       4245.31
3      Classics    860       3353.38
4   Documentary    937       3749.65
5        Sports   1081       4892.19
6           New    864       3966.38
7      Children    861       3309.39
8         Music    750       3071.52
9        Travel    765       3227.36
10      Foreign    953       3934.47
11        Drama    953       4118.46
12       Horror    773       3401.27
13       Action   1013       3951.84
14       Comedy    851       4002.48
15       Sci-Fi    998       4336.01
16      Western    890       3908.89
17      Mystery    920       4902.33
18      Fantasy   1020       4002.12